In [1]:
from __future__ import division
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pylab as pl
import seaborn as sns
import os
%matplotlib inline

In [2]:
print os.getcwd()

/Users/leahgaeta/Desktop/finishers-boston-marathon-2015-2016-2017

In [4]:
df_mara2015 = pd.read_csv("marathon_results_2015.csv")
print df_mara2015.head()

   Unnamed: 0 Bib                   Name  Age M/F         City State Country  \
0           0   3         Desisa, Lelisa   25   M         Ambo   NaN     ETH
1           1   4  Tsegay, Yemane Adhane   30   M  Addis Ababa   NaN     ETH
2           2   8         Chebet, Wilson   29   M     Marakwet   NaN     KEN
3           3  11       Kipyego, Bernard   28   M      Eldoret   NaN     KEN
4           4  10          Korir, Wesley   32   M       Kitale   NaN     KEN

  Citizen Unnamed: 9   ...         25K      30K      35K      40K     Pace  \
0     NaN        NaN   ...     1:16:07  1:32:00  1:47:59  2:02:39  0:04:56
1     NaN        NaN   ...     1:16:07  1:31:59  1:47:59  2:02:42  0:04:58
2     NaN        NaN   ...     1:16:07  1:32:00  1:47:59  2:03:01  0:04:59
3     NaN        NaN   ...     1:16:07  1:32:00  1:48:03  2:03:47  0:05:00
4     NaN        NaN   ...     1:16:07  1:32:00  1:47:59  2:03:27  0:05:00

  Proj Time Official Time Overall Gender Division
0         -       2:09:17       1      1        1
1         -       2:09:48       2      2        2
2         -       2:10:22       3      3        3
3         -       2:10:47       4      4        4
4         -       2:10:49       5      5        5

[5 rows x 25 columns]

In [5]:
df_mara2016 = pd.read_csv("marathon_results_2016.csv")
print df_mara2016.head()

  Bib                   Name  Age M/F         City State Country Citizen  \
0   5    Hayle, Lemi Berhanu   21   M  Addis Ababa   NaN     ETH     NaN
1   1         Desisa, Lelisa   26   M         Ambo   NaN     ETH     NaN
2   6  Tsegay, Yemane Adhane   31   M  Addis Ababa   NaN     ETH     NaN
3  11          Korir, Wesley   33   M       Kitale   NaN     KEN     NaN
4  14       Lonyangata, Paul   23   M      Eldoret   NaN     KEN     NaN

  Unnamed: 8       5K   ...         25K      30K      35K      40K     Pace  \
0        NaN  0:15:47   ...     1:19:15  1:34:17  1:50:24  2:05:59  0:05:04
1        NaN  0:15:47   ...     1:19:15  1:34:17  1:50:24  2:05:59  0:05:06
2        NaN  0:15:46   ...     1:19:15  1:34:45  1:50:48  2:06:47  0:05:07
3        NaN  0:15:46   ...     1:19:16  1:34:45  1:50:48  2:06:47  0:05:07
4        NaN  0:15:46   ...     1:19:18  1:34:46  1:51:30  2:08:11  0:05:11

  Proj Time Official Time Overall Gender Division
0   2:12:45       2:12:45       1      1        1
1   2:13:32       2:13:32       2      2        2
2   2:14:02       2:14:02       3      3        3
3   2:14:05       2:14:05       4      4        4
4   2:15:45       2:15:45       5      5        5

[5 rows x 24 columns]

In [6]:
df_mara2017 = pd.read_csv("marathon_results_2017.csv")
print df_mara2017.head()

   Unnamed: 0 Bib              Name  Age M/F           City State Country  \
0           0  11   Kirui, Geoffrey   24   M       Keringet   NaN     KEN
1           1  17       Rupp, Galen   30   M       Portland    OR     USA
2           2  23     Osako, Suguru   25   M   Machida-City   NaN     JPN
3           3  21  Biwott, Shadrack   32   M  Mammoth Lakes    CA     USA
4           4   9    Chebet, Wilson   31   M       Marakwet   NaN     KEN

  Citizen Unnamed: 9   ...         25K      30K      35K      40K     Pace  \
0     NaN        NaN   ...     1:16:59  1:33:01  1:48:19  2:02:53  0:04:57
1     NaN        NaN   ...     1:16:59  1:33:01  1:48:19  2:03:14  0:04:58
2     NaN        NaN   ...     1:17:00  1:33:01  1:48:31  2:03:38  0:04:59
3     NaN        NaN   ...     1:17:00  1:33:01  1:48:58  2:04:35  0:05:03
4     NaN        NaN   ...     1:16:59  1:33:01  1:48:41  2:05:00  0:05:04

  Proj Time Official Time Overall Gender Division
0         -       2:09:37       1      1        1
1         -       2:09:58       2      2        2
2         -       2:10:28       3      3        3
3         -       2:12:08       4      4        4
4         -       2:12:35       5      5        5

[5 rows x 25 columns]

In [7]:
#list column names of 2015 results
list(df_mara2015)

['Unnamed: 0',
 'Bib',
 'Name',
 'Age',
 'M/F',
 'City',
 'State',
 'Country',
 'Citizen',
 'Unnamed: 9',
 '5K',
 '10K',
 '15K',
 '20K',
 'Half',
 '25K',
 '30K',
 '35K',
 '40K',
 'Pace',
 'Proj Time',
 'Official Time',
 'Overall',
 'Gender',
 'Division']

In [8]:
#check for missing values
df_mara2015.count()

Unnamed: 0       26598
Bib              26598
Name             26598
Age              26598
M/F              26598
City             26598
State            24047
Country          26598
Citizen           1064
Unnamed: 9          67
5K               26598
10K              26598
15K              26598
20K              26598
Half             26598
25K              26598
30K              26598
35K              26598
40K              26598
Pace             26598
Proj Time        26598
Official Time    26598
Overall          26598
Gender           26598
Division         26598
dtype: int64

In [12]:
df_mara2015[Name]

NameError: name 'Name' is not defined