## Functions
    with all our powers combined

define a function that prints "hello world":

In [1]:
def helloworld():
    print('hello world')
    return None
#None means nothing, like a pass

In [2]:
helloworld()

hello world

define a function a function that takes two lists and outputs a dictionairy:

In [5]:
names = ['Alex','Kim',"Harold"]
ages = [20,50,17]

In [13]:
def list2dict(list1,list2):
    #list1 are your keys
    #list2 are your values
    #output is a dictionary
    my_dict={}
    for i,j in zip(list1,list2):
        my_dict[i]=j
    return my_dict

In [14]:
print list2dict(names,ages)
print list2dict(ages,names)

{'Harold': 17, 'Alex': 20, 'Kim': 50}
{17: 'Harold', 50: 'Kim', 20: 'Alex'}

define a function that takes the average value of a list:

In [17]:
num_list = [1,2,3,4,5]
def average(list1):
    sum_num = sum(list1)
    num_of_nums = float(len(list1))
    return sum_num/num_of_nums
average(num_list)

3.0

## Challenges
     do on your own, get help from friends, get help from me,
     look back at other notebooks for advice.

define a function that finds the minimum or maximum value in the_dictionary and returns the key value pair:

In [ ]:
the_dictionary = {'Addidas': 1,
                  'Nike': 2,
                  'New Balance':3 ,
                  'Puma': 4,
                  'Under Armor': 5
}
##### Define Function Here


##### Test function Here

define a function that reverses the the_string and prints it out:

In [36]:
the_string = "this isn't clever, I just want to see if you can do this"
##### Define Function Here
def reversed_string(the_string):
    return the_string[::-1]

##### Test function Here
reversed_string(the_string)

"siht od nac uoy fi ees ot tnaw tsuj I ,revelc t'nsi siht"

define a function  to find the same values in the two lists:

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89,11,11]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

##### Define Function Here
def same_value(list1,list2):
    

##### Test function Here

define a function to find the age of people born in a list of birth years:

In [37]:
birth_years = [1990,1952,1725,1886,1942,1998,2005,1999]

##### Define Function Here
def current_age(list):
    for x in (new_list)
    new_list.append(2017-x)
print current_age

##### Test function Here

SyntaxError: invalid syntax (<ipython-input-37-cbdd25b48db4>, line 5)

Define a function that outputs the 'n_th' fibonnaci number. The fibonnaci sequence starts like this: 1,1,2,3,5,8,13:

In [ ]:
##### Define Function Here



##### Test function Here