## Python Loops
    Because we want to do things many times
    
Two types main types of loops (there are others, but lets ignore them). Lets start with For loop.

#### For Loop

basic for loop using range:

In [5]:
for i in range(10):
    print("i is:" + str(i))
    print i

i is:0
0
i is:1
1
i is:2
2
i is:3
3
i is:4
4
i is:5
5
i is:6
6
i is:7
7
i is:8
8
i is:9
9

In [4]:
print(str(5)+str(5))
type(str(5)+str(5))

55

str

basic for loop through a string:

In [9]:
my_favorite_string = "The Lakers"

In [10]:
for letter in my_favorite_string:
    print(letter)

T
h
e

L
a
k
e
r
s

basic loop iterating an integer:

In [13]:
x = 0
for i in range(0,10):
    x+=i
    print(x)

0
1
3
6
10
15
21
28
36
45

printing labels to  odd and even numbers (see if we can do this together):

In [19]:
for i in range(0,10):
    pass
    #if i%2:
    #    if i >=5:
    #        print(str(i)+" is odd")
    #    else:
    #        pass
    #else:
    #    pass
    #for j in range(0,5):
    #    print(i,j)

Lets print see if we can print something cool using a loop:

In [20]:
for i in range(0,20):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************

#### while loop

Basic while loop:

In [21]:
x=5
while x>2:
    print(x)
    x=x-1

5
4
3

Infinte Loop:

## Data Structures
    because if don't build it, they will not come

#### Tuple

Build a tuple:

In [23]:
my_tuple=(0,1.0,"float")
print(my_tuple)
print(type(my_tuple))

(0, 1.0, 'float')
<type 'tuple'>

Print tuple type:

In [24]:
my_tuple[2]

'float'

Index a tuple:

In [25]:
my_tuple[2]

'float'

Try and change the index of a tuple:

In [30]:
#my_string="hello world"
#my_string[1] = "cool"
#print(my_string)
#this will produce error

#tuples and strings are secure and cannot change

my_tuple2=(my_tuple,my_tuple)
print(my_tuple2[1][2][0])
#level 1 = a tuple
#level 2 = a data type in the tuple
#level 3 = character in the string which was in the level 2 tuple
print(my_tuple2)

f
((0, 1.0, 'float'), (0, 1.0, 'float'))

Concat a tuple:

In [32]:
my_tuple+my_tuple
x=my_tuple+my_tuple
x[5]

'float'

Tuple multiplication with integer:

In [36]:
my_tuple*5
#has to be an integer, can't be a float

(0,
 1.0,
 'float',
 0,
 1.0,
 'float',
 0,
 1.0,
 'float',
 0,
 1.0,
 'float',
 0,
 1.0,
 'float')

#### Lists

Build a list:

In [37]:
x = [5,5,5,5,5,5,5,5,5]
print x

[5, 5, 5, 5, 5, 5, 5, 5, 5]

print list type:

In [38]:
type(x)

list

index a list:

In [39]:
x[5]

5

Try and change indexs in the list:

In [41]:
x[5]="this is willy nilly, isn't this nice"
print(x)
#can change lists

[5, 5, 5, 5, 5, "this is willy nilly, isn't this nice", 5, 5, 5]

concat a list:

In [42]:
x+x

[5,
 5,
 5,
 5,
 5,
 "this is willy nilly, isn't this nice",
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 "this is willy nilly, isn't this nice",
 5,
 5,
 5]

append a list:

In [45]:
x.append(25)
print(x)

[5, 5, 5, 5, 5, "this is willy nilly, isn't this nice", 5, 5, 5, 25, 25, 25]

pop a list:

In [48]:
x.pop(5)
print(x)
#pop takes out data, last in first out, but can also specificy which item to take out
poped_data=x.pop(5)
print(poped_data)

[5, 5, 5, 5, 5, 25, 25, 25]
25

sort a list:

In [54]:
new_list=[25,25,32,1,7,8]
new_list.sort()
print new_list
letter_list=['a','f','g','q','r','t','l','s']
letter_list.sort(reverse=True)
print(letter_list)

[1, 7, 8, 25, 25, 32]
['t', 's', 'r', 'q', 'l', 'g', 'f', 'a']

count in a list:

In [55]:
new_list.count(25)
#counts how many times 25 appears in the list

2

sum on a list:

In [56]:
sum(new_list)
#sum can't work with strings

98

Iterating through a list (using loops):

In [57]:
for data in new_list:
    print(data)

1
7
8
25
25
32

build a list using list comprehensions:

In [58]:
x=[i for i in range(0,10)]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Taking action based on value in list through loops and conditionals:

In [59]:
odd=[]
even=[]
for integer in x:
    if integer%2:
        odd.append(integer)
    else:
        even.append(integer)
print(odd)
print(even)

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]

## Independent Task

Explore the built in functions of lists:

Use this list:
ravenclaws = ['Cho', 'Luna', 'Marcus', 'Anthony', 'Padma', 'Terry', 'Duncan', 'Latisha']

    use .append(item) to add item to a list
    use .extend([item1, item2]) to join another list to the end of the list
    use .insert(index, item) to add an item to a list at an index
    use .remove(item) to remove an item from a list
    use .sort() to sort a list
    use .count(item) to count the number of times an item appears in a list
    use .index(item) to find the index of an element in a list
    use .pop() to extract (and remove) the last element of a list
    use .reverse() to reverse a list

#### Dictionaries

Build a dictionary with ints:

In [79]:
ravenclaws = ['Cho', 'Luna', 'Marcus', 'Anthony', 'Padma', 'Terry', 'Duncan', 'Latisha']
ravenclaws.append('Luna')
print(ravenclaws)

['Cho', 'Luna', 'Marcus', 'Anthony', 'Padma', 'Terry', 'Duncan', 'Latisha', 'Luna']

In [85]:
ravenclaws.reverse()
print(ravenclaws)

['Luna', 'Latisha', 'Duncan', 'Terry', 'Anthony', 'Marcus', 'Luna', 'Cho']

In [86]:
ravenclaws.count('Luna')

2

In [94]:
my_dictionary={'scott':'scotttarlow@gmail.com',
              'scott_ga':'scott.tarlow@gneralassemb.ly',
              'numbers':[1,2,3,4,5,6,7,8,9,10]}
print(my_dictionary['scott'])
print(my_dictionary['scott_ga'])
print(my_dictionary['numbers'])

scotttarlow@gmail.com
scott.tarlow@gneralassemb.ly
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Build a dictionary with tuples:

In [95]:
my_dictionary['tuple']=(0,0)
print(my_dictionary)

{'scott_ga': 'scott.tarlow@gneralassemb.ly', 'scott': 'scotttarlow@gmail.com', 'numbers': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'tuple': (0, 0)}

build a dictionary with lists:

In [96]:
names=['scott','jackie','ken']
ages = [27,31,65]
age_dictionary={}
for name,age in zip(names,ages):
    age_dictionary[name]=age
print age_dictionary
#zip makes list of tupules so first item in list goes with first item in another list

{'ken': 65, 'scott': 27, 'jackie': 31}

get the keys of a dictionary:

In [98]:
print(age_dictionary.keys())
print(age_dictionary.values())
    #dictionary doesn't take into account order

['ken', 'scott', 'jackie']
[65, 27, 31]

Add a key value pair to a dictionary:

In [100]:
my_dictionary['tuple']=(0,0)
print(my_dictionary)

{'scott_ga': 'scott.tarlow@gneralassemb.ly', 'scott': 'scotttarlow@gmail.com', 'numbers': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'tuple': (0, 0)}

Looping through two lists to form one dictionary with key and value pairs:

In [101]:
names=['scott','jackie','ken']
ages = [27,31,65]
age_dictionary={}
for name,age in zip(names,ages):
    age_dictionary[name]=age
print age_dictionary

{'ken': 65, 'scott': 27, 'jackie': 31}

### Independent Task

Build your a dictionary of student information representing species, gender, and graduation year:

    'Ginny Weasley' : ('Human', 0, 1999)
    'Hermione Granger' : ('Human', 0, 1999)
    'Sirius Black' : ('Human', 1, 1978)
    'Bellatrix Lestrange' : ('Human', 0, 1969)
    'Ron Weasley' : ('Human', 1, None)
    'Rubeus Hagrid' : ('Half-Giant', 1, None)
    'Albus Dumbledore' : ('Human', 1, 1858)
    'Tom Riddle' : ('Human', 1, 1945)

Explore some of the built in functions for dictionaries:

    use .pop(key) to remove a key:value pair from the dictionary and return the value
    use .get(key) to get the value for a key
    use .has_key(key) to check if a key is in the dictionary
    use .keys() to get a list of the keys in the dictionary
    use .items() to get a list of the key:value pairs in the dictionary
    use .update(other_dictionary) to merge a 2nd dictionary into the current dictionary
    use .clear() to remove all key:value pairs from the dictionary

In [104]:
Hogwarts = {'Ginny Weasley' : ('Human', 0, 1999),
'Hermione Granger' : ('Human', 0, 1999),
'Sirius Black' : ('Human', 1, 1978),
'Bellatrix Lestrange' : ('Human', 0, 1969),
'Ron Weasley' : ('Human', 1, None),
'Rubeus Hagrid' : ('Half-Giant', 1, None),
'Albus Dumbledore' : ('Human', 1, 1858),
'Tom Riddle' : ('Human', 1, 1945)}

Hogwarts.keys()

['Rubeus Hagrid',
 'Hermione Granger',
 'Sirius Black',
 'Ginny Weasley',
 'Albus Dumbledore',
 'Bellatrix Lestrange',
 'Tom Riddle',
 'Ron Weasley']

In [105]:
Hogwarts.pop('Tom Riddle')
print(Hogwarts)

{'Rubeus Hagrid': ('Half-Giant', 1, None), 'Hermione Granger': ('Human', 0, 1999), 'Sirius Black': ('Human', 1, 1978), 'Ginny Weasley': ('Human', 0, 1999), 'Albus Dumbledore': ('Human', 1, 1858), 'Bellatrix Lestrange': ('Human', 0, 1969), 'Ron Weasley': ('Human', 1, None)}

In [106]:
Hogwarts.has_key('Ron Weasley')

True

In [107]:
Hogwarts.items()

[('Rubeus Hagrid', ('Half-Giant', 1, None)),
 ('Hermione Granger', ('Human', 0, 1999)),
 ('Sirius Black', ('Human', 1, 1978)),
 ('Ginny Weasley', ('Human', 0, 1999)),
 ('Albus Dumbledore', ('Human', 1, 1858)),
 ('Bellatrix Lestrange', ('Human', 0, 1969)),
 ('Ron Weasley', ('Human', 1, None))]